@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/images/img-01.png" alt="IMG">
            </div>
            <form id="account" method="post" class="login100-form validate-form">
                <span class="login100-form-title">
                    @ViewData["Title"]
                </span>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input asp-for="Input.Email" class="input100" type="text" placeholder="Email" name="email" />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@

                <div class="txt2 text-danger text-left" asp-validation-summary="All"></div>
                @*<div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>*@
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Confirm</button>
                </div>
                <div class="text-center p-t-12">
                    <span class="txt1">
                        @*<a class="txt2" id="forgot-password" asp-page="./ForgotPassword">Forgot</a>*@
                    </span>
                    @*<a id="forgot-password" asp-page="./ForgotPassword">Username / Password?</a>*@
                </div>
                <div class="text-center p-t-136">
                    @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i></a>*@
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

